/* .App {
  display: flex;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 200px;
  padding: 20px;
}

.sidebar button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.movies {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.movie {
  width: 200px;
  margin: 10px;
}

.movie img {
  width: 100%;
  border-radius: 5px;
}

.movie h3 {
  margin: 10px 0 5px;
}

.movie p {
  color: #555;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.header-logo .logo {
  font-size: 24px;
  color: #f39c12;
  text-decoration: none;
}

.header-nav .nav-link {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.header-nav .nav-link:hover {
  color: #f39c12;
}

.header-search input {
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  outline: none;
} */

.App {
  text-align: center;
}

.main-content {
  display: flex;
}

.movies {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.movie {
  margin: 10px;
  width: 200px;
}
